#contact {
    input {
        width: 100%;
        margin-bottom: 20px;

    }
    input[type=submit] {
        float: right;
        width: auto;
        font-family: 'josefin';
        text-transform: uppercase;
        letter-spacing: .5px;
        cursor: pointer;
    }
    textarea {
        width: 100%;
    }
}

.wpcf7-form label.error {
    position: relative !important;
    margin-top: -20px !important;
    float: left !important;
}

.dark .wpcf7-form label.error {
    color: #FFF !important;
    color: #FFF !important;
    font-size: 13px !important;
}
 