header{
    height: 50vh;
    @include background-cover;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.30);
    &.small-header{
        box-shadow: none;
        height: 30vh;
        min-height: 300px;
    }
}
