#panorama-slider {
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    .introduction-overlay{
        position: absolute;
        z-index: 10;
        visibility: visible;
        opacity: 1;
        width: 100%;
        background: rgba(0,0,0,.2);
        text-align: center;
        height: 100%;
        color: $white;
        @include transition-all(.3s);
        i{
            top: 50%;
            @include translateY(-50%);
            font-size: 80px;
            position: relative;
            &:after{
                content: '360°';
                font-size: 12px;
                position: absolute;
                left: 50%;
                top: 50%;
                @include translate(-50%, -50%);
            }
        }
        p{
            bottom: 20px;
            position: absolute;
            width: 100%;
            text-transform: uppercase;
            font-size: 12px; 
        }
    }
    &:hover{
        .introduction-overlay{
            visibility: hidden;
            opacity: 0;
        }
    }
}