#route {
    .content {
        padding: 30px;
        background: $grey-bg;
        margin: 0;
        ul {
            margin: 15px 0 30px 0;
        }
    }
    .col:first-of-type {
        
        order: 2;
        @include media-breakpoint-up(lg) {
            order:1;
            padding-right: 0;
        }
    }
    .col:last-of-type {
        order: 1;
        @include media-breakpoint-up(lg) {
            order:2;
            padding-left: 0;
        }
    }
}
