#contact {
    input {
        width: 100%;
        margin-bottom: 20px;

    }
    input[type=submit] {
        float: right;
        width: auto;
        font-family: 'josefin';
        text-transform: uppercase;
        letter-spacing: .5px;
        cursor: pointer;
    }
    textarea {
        width: 100%;
    }
}
