#content-2-col {
    .content {
        text-align: left;
        @include media-breakpoint-up(lg) { 
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
            -webkit-column-gap: 20px;
            -moz-column-gap: 20px;
            column-gap: 20px;
        }
    }
}
