nav#main {
    width: 100%;
    height: 70px;
    background: $black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 0 20px;
    box-shadow: 0 2px 30px 0 rgba(0,0,0,0.30);
    @include media-breakpoint-up(xl) {
        padding: 0;
        .col {
            padding: 0;
        }
    }
    .logo {
        background: #000;
        float: left;
        height: 50px;
        margin: 10px 0 0 0;
        z-index: 999999;
        position: relative;
        @include media-breakpoint-up(xl) {
            margin: 10px 0 0 25px;
        }
    }
    ul {
        @include translateY(calc(-100% - 70px));
        -webkit-transition: transform .5s cubic-bezier(.85, 0, .15, 1), opacity .5s cubic-bezier(.85, 0, .15, 1), visibility .5s cubic-bezier(.85, 0, .15, 1);
        opacity: 0;
        visibility: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
        background: #000;
        z-index: 999;
        left: 0;
        margin-top: 70px;
        padding: 50px;
        overflow-y: scroll;
        @include media-breakpoint-up(md) {
            padding: 100px;
        }
        @include media-breakpoint-up(lg) {
            opacity: 1;
            visibility: visible;
            @include translateY(0);
            margin: 0;
            top: 0;
            float: right;
            position: relative;
            width: auto;
            height: auto;
            padding: 0;
        }
        li {
            width: 100%;
            float: left;
            line-height: 50px;
            margin-bottom: 10px;
            @include media-breakpoint-up(md) {
                width: 50%;
            }
            @include media-breakpoint-up(lg) {
                width: auto;
                line-height: 70px;
                margin: 0;
            }
            &.download-brochure {
                display: none;
                background: $dark-grey;
                border-radius: 5px;
                i{
                    float: left;
                    display: none;
                    font-size: 24px;
                    top: 18px;
                    margin-right: 10px;
                    position: relative;
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }
                a {
                    padding: 0 25px 0 25px;
                }
                @include media-breakpoint-down(md) {
                   
                    background: none;
                    clear: both;
                    margin-top: 30px;
                    width: auto;
                    padding: 0;
                    border: 1px solid #FFF;
                    display: block;
                    a {
                        padding: 0 25px;
                        font-size: 15px;
                    }
                }
                @include media-breakpoint-up(xl) {
                    display: block;
                     border-radius: 0;
                }
            }
            &.active,
            &:hover {
                a span {
                    border-bottom: 4px solid $primary;

                }
            }
            a {
                color: $white;
                line-height: 50px;
                display: block;
                font-family: 'josefin', sans-serif;
                font-size: 30px;
                text-transform: uppercase;
                
                span {
                    width: auto;
                    float: left;
                    height: 45px;
                    display: block;
                    @include transition-all2(.3s);
                    border-bottom: 4px solid transparent;
                    @include media-breakpoint-up(lg) {
                        height: 70px;
                    }
                }
                @include media-breakpoint-up(lg) {
                    padding: 0 10px;
                    line-height: 70px;
                    font-size: 14px;
                }
                @include media-breakpoint-up(xl) {
                    padding: 0 15px;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
        &.navigation-open {
            @include translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
    .hamburger {
        float: right;
        color: #FFF;
        position: relative;
        width: 30px;
        height: 20px;
        margin: 25px 0;
        cursor: pointer;
        z-index: 99999;
        display: block;
        @include media-breakpoint-up(lg) {
            display: none;
        }
    }
    .hamburger span {
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        background: $white none repeat scroll 0% 0%;
        opacity: 1;
        right: 0px;
        transition: all 0.25s ease-in-out 0s;
        transform: rotate(0deg);
    }
    .hamburger span:nth-child(1) {
        margin-top: 0px;
    }
    .hamburger span:nth-child(2) {
        margin-top: 10px;
        margin-right: 0px;
    }
    .hamburger span:nth-child(3) {
        margin-top: 20px;
    }
    .hamburger.opened span:nth-child(1) {
        transform: rotate(135deg);
        margin-top: 10px;
    }
    .hamburger.opened span:nth-child(2) {
        opacity: 0;
        right: -10px;
    }
    .hamburger.opened span:nth-child(3) {
        transform: rotate(-135deg);
        margin-top: 10px;
    }
}
