/*--------------------------------

wulpdal Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'wulpdal';
  src: url('../fonts/wulpdal.eot');
  src: url('../fonts/wulpdal.eot') format('embedded-opentype'), url('../fonts/wulpdal.woff2') format('woff2'), url('../fonts/wulpdal.woff') format('woff'), url('../fonts/wulpdal.ttf') format('truetype'), url('../fonts/wulpdal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.wd-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'wulpdal';
  font-size: inherit;
  speak: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*------------------------
  change icon size
-------------------------*/
.wd-icon.lg {
  font-size: 1.33333333em;
  vertical-align: -16%;
}
.wd-icon.x2 {
  font-size: 2em;
}
.wd-icon.x3 {
  font-size: 3em;
}

/*------------------------
	font icons
-------------------------*/

.wd-brochure::before {
    content: "\ea01";
}

.wd-close::before {
    content: "\ea02";
}

.wd-complete::before {
    content: "\ea03";
}

.wd-download::before {
    content: "\ea04";
}

.wd-facebook::before {
    content: "\ea05";
}

.wd-faciliteiten::before {
    content: "\ea07";
}

.wd-fiets::before {
    content: "\ea08";
}

.wd-grid::before {
    content: "\ea06";
}

.wd-next::before {
    content: "\ea09";
}

.wd-plattegrond::before {
    content: "\ea0a";
}

.wd-prev::before {
    content: "\ea0b";
}

.wd-receptie::before {
    content: "\ea0c";
}

.wd-restaurant::before {
    content: "\ea0d";
}

.wd-speeltuin::before {
    content: "\ea0e";
}

.wd-tour::before {
    content: "\ea0f";
}

.wd-vers::before {
    content: "\ea10";
}

.wd-youtube::before {
    content: "\ea11";
}