@font-face {
    font-family: 'josefin';
    src: url('../fonts/josefinsans-regular-webfont.woff2') format('woff2'),
    url('../fonts/josefinsans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'josefin';
    src: url('../fonts/josefinsans-bold-webfont.woff2') format('woff2'),
    url('../fonts/josefinsans-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'libre';
    src: url('../fonts/librebaskerville-italic-webfont.woff2') format('woff2'),
    url('../fonts/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre';
    src: url('../fonts/librebaskerville-regular-webfont.woff2') format('woff2'),
    url('../fonts/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: italic;
    font-style: normal;
}

body {
    font: 15px / 28px 'libre', sans-serif;
    letter-spacing: .5px;
    color: $content;
}

h1 {}

h1, h2 {
    color: $black;
    font: 36px / 40px 'josefin', sans-serif;
    text-transform: uppercase;
}

h3 {
    color: $black;
    font: 18px / 22px 'libre', sans-serif;
    font-style: italic;
}

h4 {
    font-family: 'josefin', sans-serif;
     text-transform: uppercase;
}


