@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.circle {
    @include border-radius(50%);
}

@mixin translate($translateX, $translateY) {
    -webkit-transform: translate($translateX, $translateY);
    -moz-transform: translate($translateX, $translateY);
    -ms-transform: translate($translateX, $translateY);
    transform: translate($translateX, $translateY);
}

@mixin translateX($translateX) {
    -webkit-transform: translateX($translateX);
    -moz-transform: translateX($translateX);
    -ms-transform: translateX($translateX);
    transform: translateX($translateX);
}

@mixin translateY($translateY) {
    -webkit-transform: translateY($translateY);
    -moz-transform: translateY($translateY);
    -ms-transform: translateY($translateY);
    transform: translateY($translateY);
}

@mixin scale($scale) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}

@mixin rotate($rotate) {
    -webkit-transform: rotate($rotate);
    -moz-transform: rotate($rotate);
    -ms-transform: rotate($rotate);
    transform: rotate($rotate);
}

@mixin columns($columns) {
    -webkit-column-count: $columns;
    -moz-column-count: $columns;
    -ms-column-count: $columns;
    column-count: $columns;
}


@mixin background-cover { 
  background-repeat:no-repeat;
    background-position:center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
}


@mixin transition-all($sec) {           
  -webkit-transition: all $sec cubic-bezier(.85, 0, .15, 1);
  -moz-transition: all $sec cubic-bezier(.85, 0, .15, 1);
  -o-transition: all $sec cubic-bezier(.85, 0, .15, 1);
  transition: all $sec cubic-bezier(.85, 0, .15, 1);
}
@mixin transition-all2($sec) {           
  -webkit-transition: all $sec cubic-bezier(.58,.55,.74,.66);
  -moz-transition: all $sec cubic-bezier(.58,.55,.74,.66);
  -o-transition: all $sec cubic-bezier(.58,.55,.74,.66);
  transition: all $sec cubic-bezier(.58,.55,.74,.66);
}

@mixin transition-delay($sec) {           
  -webkit-transition-delay: $sec;
  -moz-transition-delay: $sec;
  -o-transition-delay: $sec;
  transition-delay: $sec;
}