#woningen {
    header {
        background: url('../images/wulpdal-component_schelp_blauw_2.jpg') left -150px bottom -70px no-repeat, url('../images/wulpdal-component_schelp_blauw_1.jpg') right -50px top no-repeat $primary-bg;
        h1 {
            @include translateY(calc(-50% - 65px));
            top: 50%;
            position: relative;
        }
    }
    #woning-details {
        padding-bottom: 0;
        position: relative;
        .col {
            margin-top: -200px;
            box-shadow: 0 2px 50px 0 rgba(0, 0, 0, 0.20);
        }
        .info {
            background: #FFF;
            z-index: 1;
            position: relative;

            .image-wrapper {
                padding: 0;
                min-height: 300px;
                .image {
                    width: 100%;
                    height: 100%;
                    @include background-cover;
                }
            }
            .wrap {
                padding: 30px 0;
                @include media-breakpoint-up(sm) {
                    padding: 30px;
                }
                .title {
                    text-align: left;
                }
                .button-wrapper {
                    margin: 30px 0 0 0;
                    width: 100%;
                    display: inline-block;
                    .download {
                        float: left;
                        margin: 7px 10px 10px 0;
                        padding: 0;
                        color: $black;
                        i {

                            float: left;
                            margin: 0 5px 0 0;
                        }
                        span {

                            line-height: 35px;
                            float: left;
                        }
                    }
                    .btn-primary {
                        margin: 0;
                        padding: 0 20px;
                        float: left;
                        @include media-breakpoint-up(md) {
                            float: right;
                        }
                        @include media-breakpoint-up(lg) {
                            float: left
                        }
                        @include media-breakpoint-up(xl) {
                            float: right;
                        }
                    }
                }
            }
        }
        .specs {
            background: $light-grey-bg;
            color: $black;
            h3 {
                margin: 30px 0 10px 0;
                @include media-breakpoint-up(sm) {
                    margin: 30px 0 0 30px;
                }
                @include media-breakpoint-up(lg) {
                    display: block;
                    margin: 30px 0 0 30px;
                }
            }
            ul {
                padding-bottom: 30px;
                -webkit-column-count: 2;
                -moz-column-count: 2;
                column-count: 2;
                -webkit-column-gap: 20px;
                -moz-column-gap: 20px;
                column-gap: 20px;
                @include media-breakpoint-up(sm) {
                    padding: 30px;
                    -webkit-column-count: 3;
                    -moz-column-count: 3;
                    column-count: 3;
                    -webkit-column-gap: 20px;
                    -moz-column-gap: 20px;
                    column-gap: 20px;
                }
                li {
                    font-size: 11px;
                    font-style: italic;
                    i {
                        margin-right: 5px;
                        opacity: .3;
                    }
                }
            }
            & > ul li {
                float: left;

            }
            .col-12:last-of-type{
                padding: 0;
            }
            .plattegrond {
                background: $grey-bg;
                display: block;
                width: 100%;
                height: 100px;
                right: 0;
                top: 0;
                padding: 0;
                border-radius: 0;
                
                text-align: center;
                font-size: 12px !important;
                @include media-breakpoint-up(lg) {
                    height: 100%;
                    width: auto;
                    position: absolute;
                }
                i {

                    display: inline-block;
                    position: relative;
                    @include translateY(-50%);
                        top: 50%;
                    @include media-breakpoint-up(lg) {
                        @include translateY(-50%);
                        top: calc(50% - 15px);
                        display: block;
                    }

                }
                span {
                    display: inline-block;
                    position: relative;
                    top: 20px;
                    margin-left: 10px;
                    @include media-breakpoint-up(lg) {
                        display: block;
                        padding: 10px;
                        margin: 0;
                        top: calc(50% - 40px);
                        position: relative;
                    }
                }
            }
        }
    }
    #woning-carousel{
        #grid-gallery{
            margin-bottom: 50px;
        }
        #woningen-grid{
            margin: 50px 0;
        }
    }
}
